/* -------------------- Common -------------------- */
html, body {
	overflow: initial !important;
}
/* 전체 (Header Bottom 처리 대응) */
.wrap {
	position: static;
	overflow: hidden !important;
	height: auto;
	padding-bottom: 100px;
}

/* -------------------- Layout -------------------- */
/* Header */
.header_wrap {
	position: fixed;
	left: 0;
	top: auto;
	bottom: 0;
	width: 100%;
	background-color: #2A2A2A;
	border-bottom: 0;
}
.lnb_wrap {
	background-color: transparent;
}

.lnb_wrap .inner_wrap {
	height: 100px;
	padding: 0;
	gap: 40px;
}

/* LNB H1 */
.lnb_wrap h1 span {
	width: 186px;
	height: 48px;
}
.lnb_wrap h1 .logo img {
	width: 100%;
}

/* LNB List */
.lnb_list {
	margin-top: 0;
}

.lnb_list .has_menu .sub {
	padding-bottom: 30px;
	bottom: 100%;
}

.lnb_list>ul>li {
	background-color: transparent;
}

.lnb_list>ul>li::after {
	display: none ;
}

.lnb_list>ul>li>a {
	height: 100px;
	color: #fff !important;
	font-size: 17px;
	line-height: 1.4;
	padding: 0;
	white-space: nowrap;
}

.lnb_list li:hover .menu {
	color: #EF6492 !important;
}

.lnb_list li:hover .menu::after {
	display: none;
}

.lnb_list .has_menu .sub.wide {
	height: 260px;
}

.lnb_list .has_menu .sub ul li a:hover {
	color: #EF6492;
	text-decoration: none;
}

.lnb_wrap .sub_bg {
	top: auto;
	bottom: 100px;
	height: 260px;
	box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.05);
}

/* LNB Utils */
.lnb_wrap .lnb_utils {
	display: flex;
	width: 158px;
	gap: 10px;
}

.lnb_wrap .lnb_utils .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	padding: 0 15px;
	border: 1px solid #545454;
	border-radius: 32px;
	color: #AFAFAF;
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: -0.28px;
}

/* -------------------- Main -------------------- */
.wrap:not(.index_wrap) .vs_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.wrap:not(.index_wrap) .vs_wrap > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lecBanner {
	max-width: 1260px;
	margin-top: 80px;
	margin-bottom: 40px;
	padding-right: 60px;
	padding-left: 60px;
}
.lecBanner .swiper {
	overflow: hidden;
}
.lecBanner .swiper-wrapper {
	justify-content: flex-start;
	gap: 0;
}
.lecBanner .swiper-button-next {
	display: block;
	right: 0px;
}
.lecBanner .swiper-button-prev {
	display: block;
	left: 0px;
}
.lecBanner .swiper-button-disabled {
	display: none;
}
.lecBanner .item_wrap a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.lecBanner .item_wrap .tit {
	color: #555;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
}

.lecBanner .item_wrap .icon_08 {
	width: 70px;
	height: 70px;
	background-color: #f6f6f6;
	background-size: 46px auto;
	border-radius: 20px;
	transition: all 0.2s ease;
}

.lecBanner .item_wrap a:hover .icon_08 {
	background-color: var(--primary);
	background-size: 46px auto;
}

.lecBanner .item_wrap a:hover .tit {
	color: #555;
}

/* -------------------- Content -------------------- */
.common-tab .tab-btn {
	gap: 14px;
	margin-bottom: 30px;
}
.common-tab .tab-btn:before {
	display: none;
}
.common-tab .tab-btn span {
	flex: none;
	width: auto;
	min-width: 140px;
	padding: 0 12px;
	border: 0;
	border-radius: 10px;
	background-color: #DFE8EF;
	color: #9099A1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
}
.common-tab .tab-btn span.active {
	background-color: var(--primary);
	color: #fff;
}

.stit_wrap {
	margin-bottom: 40px;
}

.section_bg {
	padding: 40px 0;
}

.box_list li .box_thum {
	margin-bottom: 20px;
}

.box_list.hover-linded li a:focus .box_thum,
.box_list.hover-linded li a:hover .box_thum {
	outline: 3px solid var(--primary);
	outline-offset: -3px;
}

.box_list li .box_thum ~ .info {
	margin-top: 16px;
	color: #555;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

article.section_bg:nth-of-type(3n+3) .thum_wrap {
	background: rgba(30, 54, 98, 0.90);
}

.thum_wrap {
	display: flex;
	flex-direction: column;
	height: 100%;

}
.thum_wrap .title {
	flex: none;
	font-size: 1.07rem;
}

.thum_wrap .cont_scroll {
	flex: 1 1 auto;
	max-height: 85px;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 1.4;
}

.thum_wrap .info {
	margin-top: 20px;
}

.thum_wrap .info ul li {
	color: #FFF;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.cus_wrap {
	display: flex;
	padding-top: 40px;
	padding-bottom: 100px;
	gap: 40px;
}

.cus_wrap .pr_banner {
	flex: 1 1 auto;
	width: 100%;
	overflow: hidden;
	margin-right: 0;
}

.cus_wrap .title {
	padding-bottom: 40px;
	margin-bottom: 0;
	border-bottom: 1px solid #EDEDED;
}

.cus_wrap .title .t {
	line-height: 1.4;
}

.cus_wrap .notice_list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 20px 0 19px;
	border-bottom: 1px solid #EDEDED;
}

.cus_wrap .notice_list li:last-child {
	border-bottom: 1px solid #EDEDED;
}

.cus_wrap .notice_wrap li a {
	flex: 1 1 auto;
	overflow: hidden;
	padding-left: 0;
	color: var(--gray-800);
	font-size: 17px;
	font-weight: 500;
	line-height: 1.4;
}

.cus_wrap .notice_wrap li a::before {
	display: none;
}

.cus_wrap .notice_list .notice_date {
	flex: none;
	color: #848484;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

@media (max-width: 1160px) {
	.lecBanner .swiper-wrapper {
		gap: 0;
	}
	.lecBanner .swiper-button-next {
		right: -20px;
	}
	.lecBanner .swiper-button-prev {
		left: -20px;
	}
}

@media (max-width: 1200px) {
	.vs_wrap .main {
		height: auto;
	}
}